<div id="wrapper-conteudo">
  <div class='page-header'>
    <h1>Clientes</h1>
    <h2><i class='icon-book'></i> Listagem</h2>
  </div>

  <% if params['notice'] %>
  <div class="alert alert-success"><%= params['notice'] %></div>
  <% end %>

  <div class='table-header'>
    <h1>
      <i class='icon-tag'></i>
      <a class='ativo' href='#'>Todos</a>
    </h1>
    <h1>
      <a href='#'>Ativos</a>
    </h1>
    <h1>
      <a href='#'>Inativos</a>
    </h1>

    <div class="pull-right">
      <input class='input-medium search-query' placeholder='Buscar...' type="text">
    </div>
  </div>
  <table class="lista-conteudo">
    <thead>
      <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Nome</th>
      <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Sexo</th>
      <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Data de Nascimento</th>
      <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> CPF</th>
      <th></th>
    </thead>

  <% @clientes.each do |cliente| %>
    <tr>
      <td><%= link_to cliente.nome, cliente, :class => 'conteudo-modal' %></td>
      <td><%= link_to cliente.sexo.nome, cliente, :class => 'conteudo-modal' %></td>
      <td><%= link_to cliente.data_nascimento, cliente, :class => 'conteudo-modal' %></td>
      <td><%= link_to cliente.cpf, cliente, :class => 'conteudo-modal' %></td>
      <td class='comando'><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <div id="conteudo-rodape">
  <%= link_to 'Novo Cliente', new_cliente_path, :class => 'blue btn btn-primary' %>
  <%= pagination @clientes %>
  </div>

  <div class='page-header'>
    <h2><i class='icon-bar-chart'></i> Estatísticas</h2>
  </div>

  <%= high_chart("my_id4", @chart) %>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>