<div id="wrapper-conteudo">
  <div class='page-header'>
    <h1>Exercícios</h1>
    <h2><i class='icon-book'></i> Listagem</h2>
  </div>

  <% if params['notice'] %>
  <div class="alert alert-success"><%= params['notice'] %></div>
  <% end %>

  <div class='table-header'>
    <h1>
      <i class='icon-tag'></i>
      <%= link_to 'Todos', exercicios_path, :class => @filtro.blank? ? 'ativo' : '' %>
      </h1>
    <% GrupoMuscular.raiz.each do |grupo_muscular| %>
      <h1>
        <%= link_to grupo_muscular.nome, exercicios_path(:filtro => grupo_muscular.nome ), :class => @filtro == grupo_muscular.nome ? 'ativo' : '' %>
      </h1>
    <% end %>

    <div class="form-search pull-right">
      <form action="<%= exercicios_path %>" method="GET">
      <input name='palavra_chave' class='input-medium search-query' placeholder='Buscar...' type="text">
      <input name='filtro' type="hidden" value='<%= @filtro %>'>
      <i class='icon-search'></i>
      </form>
    </div>
  </div>
  <table class="lista-conteudo">
    <thead>
      <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Exercício</th>
      <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Grupo Muscular</th>
      <th></th>
    </thead>

  <% @exercicios.each do |exercicio| %>
    <tr>
      <td><%= link_to exercicio.nome, exercicio, :class => 'conteudo-modal' %></td>
      <td><%= link_to exercicio.grupo_muscular.nome, exercicio, :class => 'conteudo-modal' %></td>
      <td class='comando'><%= link_to 'Excluir', exercicio, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <div id="conteudo-rodape">
    <%= link_to 'Novo Exercício', new_exercicio_path, :class => 'blue btn btn-primary' %>
    <%= pagination @exercicios %>
  </div>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>