<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><%= @client.name %></h3>
</div>
<div class="modal-body">
<div class='row-fluid'>
<div class='span3' style='margin-top: 40px;'>
  <ul class="nav nav-pills nav-stacked" id="tabs">
    <li class="active"><a href="#tab-cadastro" data-toggle="tab"><%= resource_class.model_name.human %></a></li>
    <li>
      <a href="#collapseOne" class="dropdown-toggle" data-toggle="collapse">Avaliações Físicas <b class="caret"></b></a>
      <ul id="collapseOne" class="nav nav-pills nav-stacked sem-margem accordion-body collapse">
        <li><%= link_to 'Nova Avaliação Física', new_physical_assessment_path(:clientes_id => @client.id), :class => 'green' %></li>
        <% @client.physical_assessments.each do |physical_assessment| -%>
            <li><a href="#tab-avaliacao-fisica-<%= physical_assessment.id %>" class='js-sem_href' data-toggle="tab"><%= physical_assessment.created_at.strftime("%d/%m/%Y") %></a></li>
        <% end -%>
      </ul>
    </li>
    <li><a href="#tab-ficha" data-toggle="tab">Ficha</a></li>
  </ul>
</div>

<div class='span9 tab-content'>
<div class="tab-pane active" id="tab-cadastro" style='margin-top: 40px;'>
  <fieldset>
    <legend>Dados Básicos</legend>
    <div class='row-fluid'>
      <div class='span4 show-head'><p><b>name</b></p></div>
      <div class='span4 show-head'><p><b>Data Nasc.</b></p></div>
      <div class='span4 show-head'><p><b>Sexo</b></p></div>
    </div>
    <div class='row-fluid'>
      <div class='span4'><%= @client.name %></div>
      <div class='span4'><%= @client.birth_date %></div>
      <div class='span4'><%= @client.gender.name %></div>
    </div>

    <div class='row-fluid'>
      <div class='span4 show-head'><p><b>Etnia</b></p></div>
      <div class='span4 show-head'><p><b>CPF</b></p></div>
      <div class='span4 show-head'><p><b>RG</b></p></div>
    </div>
    <div class='row-fluid'>
      <div class='span4'><%= @client.ethnicity.name %></div>
      <div class='span4'><%= @client.cpf %></div>
      <div class='span4'><%= @client.rg %></div>
    </div>
  </fieldset>

  <% if @client.addresses.any? %>
      <fieldset>
        <legend>Endereço</legend>
        <% @client.addresses.each do |address| %>
            <div class='tab-nested'>
              <div class='row-fluid'>
                <div class='span4 show-head'><p><b>Logradouro</b></p></div>
                <div class='span4 show-head'><p><b>Número</b></p></div>
                <div class='span4 show-head'><p><b>Complemento</b></p></div>
              </div>
              <div class='row-fluid'>
                <div class='span4'><%= address.street %></div>
                <div class='span4'><%= address.number %></div>
                <div class='span4'><%= address.complement %></div>
              </div>
              <div class='row-fluid'>
                <div class='span4 show-head'><p><b>Bairro</b></p></div>
                <div class='span4 show-head'><p><b>CEP</b></p></div>
                <div class='span4 show-head'><p><b>Cidade</b></p></div>
              </div>
              <div class='row-fluid'>
                <div class='span4'><%= address.neighbourhood %></div>
                <div class='span4'><%= address.postal_code %></div>
                <div class='span4'><%= address.city.name %></div>
              </div>
              <div class='row-fluid'>
                <div class='span4 show-head'><p><b>Estado</b></p></div>
                <div class='span4 show-head'><p><b>País</b></p></div>
                <div class='span4 show-head'></div>
              </div>
              <div class='row-fluid'>
                <div class='span4'><%= address.state.name %></div>
                <div class='span4'><%= address.country %></div>
                <div class='span4'></div>
              </div>
            </div>
        <% end %>
      </fieldset>
  <% end %>

  <% if @client.emails.any? or @client.phones.any? %>
      <fieldset>
        <legend>Contato</legend>
        <% @client.emails.each do |email| %>
            <div class='tab-nested'>
              <div class='row-fluid'>
                <div class='span8 show-head'><p><b>Número</b></p></div>
                <div class='span4'><%= email.email %></div>
              </div>
            </div>
        <% end %>
        <% @client.phones.each do |phone| %>
            <div class='tab-nested'>
              <div class='row-fluid'>
                <div class='span8 show-head'><p><b>Número</b></p></div>
                <div class='span4'><%= phone.number %></div>
              </div>
            </div>
        <% end %>
      </fieldset>
  <% end %>
</div>

<% @physical_assessments.each do |physical_assessment| %>
    <div class="tab-pane" id="tab-avaliacao-fisica-<%= physical_assessment.id %>">
      <ul class="nav nav-pills">
        <li class="active"><a href="#tab-anamnese-<%= physical_assessment.id %>" data-toggle='tab'>Anamnese</a></li>
        <li><a href="#tab-perimeter-<%= physical_assessment.id %>" data-toggle='tab'>Perímetros</a></li>
        <li><a href="#tab-composicao-corporal-<%= physical_assessment.id %>" data-toggle='tab'>Composição Corporal</a></li>
        <li><a href="#tab-neuromotor-<%= physical_assessment.id %>" data-toggle='tab'>Neuromotor</a></li>
        <li><a href="#tab-avaliacao-cardiorespiratoria-<%= physical_assessment.id %>" data-toggle='tab'>Avaliação
          Cardiorespiratória</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab-anamnese-<%= physical_assessment.id %>">
          <fieldset>
            <legend>Avaliação Clínica (Par-Q)</legend>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_01 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_01 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_02 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_02 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_03 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_03 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_04 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_04 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_05 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_05 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_06 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_06 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_3_07 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_3_07 %></div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Anamnese da prática de atividades físicas</legend>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_2_01 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_2_01 %></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b><%= physical_assessment.anamnesis.question_2_02 %></b></p></div>
              <div class='span2'><%= h_b physical_assessment.anamnesis.answer_2_02 %></div>
            </div>
          </fieldset>

          <% unless physical_assessment.anamnesis.answer_1_01.blank? %>
              <fieldset>
                <legend>Objetivos com relação à Atividade Física</legend>
                <div class='row-fluid'>
                  <div class='span12'><p><b><%= physical_assessment.anamnesis.answer_1_01 %></b></p></div>
                </div>
              </fieldset>
          <% end %>
        </div>

        <div class="tab-pane" id="tab-perimeter-<%= physical_assessment.id %>">
          <fieldset>
            <legend>Perímetros Unilaterais</legend>
            <% physical_assessment.perimeter.assessment_perimeter.each do |perimeter| %>
                <% if perimeter.type.to_i == 1 %>
                    <div class='row-fluid'>
                      <div class='span10 show-head'><p><b><%= perimeter.name %></b></p></div>
                      <div class='span2'><p><%= perimeter.value_1 %></p></div>
                    </div>
                <% end %>
            <% end %>
          </fieldset>
          <fieldset>
            <legend>Perímetros Bilaterais</legend>
            <% physical_assessment.perimeter.assessment_perimeter.each do |perimeter| %>
                <% if perimeter.type.to_i == 2 %>
                    <div class='row-fluid'>
                      <div class='span4 show-head'><p><b><%= perimeter.name %></b></p></div>
                      <div class='span2 show-head'><p><b>Esquerda</b></p></div>
                      <div class='span2'><p><%= perimeter.value_1 %></p></div>
                      <div class='span2 show-head'><p><b>Direita</b></p></div>
                      <div class='span2'><p><%= perimeter.value_2 %></p></div>
                    </div>
                <% end %>
            <% end %>
          </fieldset>
        </div>

        <div class="tab-pane" id="tab-composicao-corporal-<%= physical_assessment.id %>">
          <fieldset>
            <legend>protocol</legend>
            <div class='row-fluid'>
              <div class='span12 show-head'><p><%= physical_assessment.body_composition.protocol %></p></div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Medidas</legend>
            <div class='row-fluid'>
              <div class='span4 show-head'><p><b>Peso Atual</b></p></div>
              <div class='span2 show-head'>
                <p><%= physical_assessment.body_composition.weight.round(2).to_s + 'Kg' %></p></div>
              <div class='span4 show-head'><p><b>height</b></p></div>
              <div class='span2 show-head'><p><%= physical_assessment.body_composition.height.round(2).to_s + 'M' %></p>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Dobras</legend>
            <% unless physical_assessment.body_composition.tricep.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>tricep</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.tricep %></p></div>
                </div>
            <% end %>
            <% unless physical_assessment.body_composition.subscapular.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>subscapular</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.subscapular %></p></div>
                </div>
            <% end %>
            <% unless physical_assessment.body_composition.chest.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>chest</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.chest %></p></div>
                </div>
            <% end %>
            <% unless physical_assessment.body_composition.midaxillary.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>midaxillary</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.midaxillary %></p></div>
                </div>
            <% end %>
            <% unless physical_assessment.body_composition.suprailiac.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>Supra Ilíaca</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.suprailiac %></p></div>
                </div>
            <% end %>
            <% unless physical_assessment.body_composition.abdominal.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>Abdminal</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.abdominal %></p></div>
                </div>
            <% end %>
            <% unless physical_assessment.body_composition.thigh.blank? %>
                <div class='row-fluid'>
                  <div class='span10 show-head'><p><b>thigh</b></p></div>
                  <div class='span2 show-head'><p><%= physical_assessment.body_composition.thigh %></p></div>
                </div>
            <% end %>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b>Soma</b></p></div>
              <div class='span2 show-head'><p><%= physical_assessment.body_composition.soma %></p></div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Resultados</legend>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b>Percentual Gordura</b></p></div>
              <div class='span2 show-head'>
                <p><%= physical_assessment.body_composition.percentual_gordura.round(2).to_s + '%' %></p></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b>Percentual Gordura Ideal</b></p></div>
              <div class='span2 show-head'>
                <p><%= physical_assessment.body_composition.percentual_gordura_ideal.round(2).to_s + '%' %></p></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b>Peso Gordo</b></p></div>
              <div class='span2 show-head'>
                <p><%= physical_assessment.body_composition.peso_gordo.round(2).to_s + 'Kg' %></p></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b>Peso Magro</b></p></div>
              <div class='span2 show-head'>
                <p><%= physical_assessment.body_composition.peso_magro.round(2).to_s + 'Kg' %></p></div>
            </div>
            <div class='row-fluid'>
              <div class='span10 show-head'><p><b>Peso Ideal</b></p></div>
              <div class='span2 show-head'>
                <p><%= physical_assessment.body_composition.peso_ideal.round(2).to_s + 'Kg' %></p></div>
            </div>
          </fieldset>
        </div>

        <div class="tab-pane" id="tab-neuromotor-<%= physical_assessment.id %>">
          <%= debug physical_assessment %>
        </div>

        <div class="tab-pane" id="tab-avaliacao-cardiorespiratoria-<%= physical_assessment.id %>">
          <%= debug physical_assessment %>
        </div>
      </div>
    </div>
<% end %>

</div>
</div>
</div>
<div class="modal-footer">
  <%= link_to 'Editar', edit_resource_path(@client), :class => 'btn btn-primary' %>
</div>