<%= form_for(@postagem) do |f| %>
  <% if @postagem.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @postagem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls row-fluid">
    <%= f.text_field :titulo, :placeholder => "Título", :class => 'span12' %>
  </div>
  <div class="controls">
    <%= f.text_area :conteudo, :placeholder => "Conteúdo", :class => 'span12' %>
  </div>

  <div class="controls controls-row">
  <%= f.fields_for :tags do |tag| %>
      <%= render 'tags_form', f, :tag %>
  <% end %>  

  <%= link_to_add_association "Nova Tag", f, :tags, :partial => 'tags_form', :class => 'btn' %>
  </div>

  <div class="btn-group navigation-modal form-confirm">
    <%= link_to 'Voltar', postagems_path, :class => 'btn' %>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>

<% end %>