<div id="wrapper-conteudo">
  <div class='page-header'>
    <h1><%= resource_class.model_name.human.pluralize %></h1>

    <h2><i class='icon-book'></i> Listagem</h2>
  </div>

  <div class='table-header'>
    <h1>
      <i class='icon-tag'></i>
      <a class='ativo' href='#'>Todos</a>
    </h1>

    <h1>
      <a href='#'>Ativos</a>
    </h1>

    <h1>
      <a href='#'>Inativos</a>
    </h1>

    <%= render 'shared/search' %>
  </div>
  <table class="lista-conteudo">
    <thead>
    <% %w(client_name created_at).each do |attr| %>
        <th><%= ordenacao(PhysicalAssessment.human_attribute_name attr) %></th>
    <% end %>
    <th></th>
    </thead>

    <% @physical_assessments.each do |physical_assessment| %>
        <%= render physical_assessment %>
    <% end %>
  </table>

  <br/>

  <div id="conteudo-rodape">
    <%= simple_form_for @client, :method => :get, :url => new_physical_assessment_path, :html => {:multipart => true, :class => 'form-vertical'}, :defaults => {:input_html => {:class => 'input-block-level'}} do |f| %>
        <%= f.autocomplete_field(:name, autocomplete_client_name_clients_path, :update_elements => {:id => '#js-cliente_id'}, :class => 'no-margin-bottom', :id => 'js-cliente_nome', :placeholder => 'Selecione um cliente...') %>
        <%= hidden_field_tag(:clientes_id, '', :class => 'no-margin-bottom', :id => 'js-cliente_id') %>
        <%= f.submit 'Nova Avaliação', :class => 'blue btn btn-primary', :id => 'js-submit_cliente' %>
    <% end %>
    <%= pagination @physical_assessments %>
  </div>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>