<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @tag.nome %>
</p>

<p>
  <b>Tageable:</b>
  <%= @tag.tageable %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
