<div class="nested-fields">
	<div class="row-fluid">
		<%= f.input :cep, :wrapper_html => { :class => 'span4' } %>
		<%= f.input :logradouro, :wrapper_html => { :class => 'span6' } %>
        <%= f.input :numero, :wrapper_html => { :class => 'span2' } %>
    </div>

    <div class="row-fluid">
		<%= f.input :complemento, :wrapper_html => { :class => 'span4' } %>
		<%= f.input :bairro, :wrapper_html => { :class => 'span4' } %>
        <%= f.input :cidade_id, :collection => Cidade.all.map{ |p| [p.nome, p.id] }, :wrapper_html => { :class => 'span4' } %>
	</div>

	<div class="row-fluid">
	    <%= f.input :estado_id, :collection => Estado.all.map{ |p| [p.nome, p.id] }, :wrapper_html => { :class => 'span5' } %>
      <%= f.input :pais, :wrapper_html => { :class => 'span5' } %>

      <div class='span2'>
        <%= link_to_remove_association 'Excluir', f, :class => 'btn btn-danger btn-remove btn-block' %>
      </div>
    </div>
</div>