<div class="nested-fields">
	<div class="row-fluid">
		<%= f.input :cep, :wrapper_html => { :class => 'span4' }, :input_html => { :alt => 'cep' } %>
		<%= f.input :logradouro, :input_html => {:class => 'input_logradouro input-block-level'}, :wrapper_html => { :class => 'span6' }, :url => autocomplete_endereco_logradouro_enderecos_path, :as => :autocomplete, :id_element => '', :update_elements => {} %>
    <%= f.input :numero, :wrapper_html => { :class => 'span2' } %>
    </div>

    <div class="row-fluid">
		<%= f.input :complemento, :wrapper_html => { :class => 'span4' } %>
		<%= f.input :bairro, :input_html => {:class => 'input_bairro input-block-level'}, :wrapper_html => { :class => 'span4' }, :url => autocomplete_endereco_bairro_enderecos_path, :as => :autocomplete, :id_element => '', :update_elements => {} %>
    <%= f.input :cidade_id, :input_html => {:class => 'input_cidade input-block-level'}, :collection => Cidade.all.map{ |p| [p.nome, p.id] }, :wrapper_html => { :class => 'span4' }, :default => 3412 %>
	</div>

	<div class="row-fluid">
	    <%= f.input :estado_id, :input_html => {:class => 'input_estado input-block-level'}, :collection => Estado.all.map{ |p| [p.nome, p.id] }, :wrapper_html => { :class => 'span5' }, :default => 18 %>
      <%= f.input :pais, :wrapper_html => { :class => 'span5' }, :input_html => { :value => 'Brasil' } %>

      <div class='span2'>
        <%= link_to_remove_association 'Excluir', f, :class => 'btn btn-danger btn-remove btn-block red' %>
      </div>
    </div>
</div>