<%= simple_form_for @avaliacao_fisica, :validate => true, :html => { :class => 'form-vertical' }, :defaults => { :input_html => { :class => 'input-block-level' } } do |f| %>
<%= f.input :clientes_id, :as => :hidden, :input_html => { :value => @clientes_id } %>

<% if @avaliacao_fisica.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @avaliacao_fisica.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<ul class="nav nav-tabs" id="tabs">
  <li class="active"><a href="#tab-anamnese">Anamnese</a></li>
  <li><a href="#tab-perimetro">Perímetros</a></li>
  <li><a href="#tab-composicao-corporal">Composição Corporal</a></li>
  <li><a href="#tab-neuromotor">Neuromotor</a></li>
  <li><a href="#tab-avaliacao-cardiorespiratoria">Avaliação Cardiorespiratória</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tab-anamnese">
    <%= f.fields_for :anamneses do |anamnese| %>
      <%= render 'anamneses/anamneses_form', :f => anamnese %>
    <% end %>
  </div>

  <div class="tab-pane" id="tab-perimetro">
    <%= f.simple_fields_for :perimetro, :perimetro do |perimetro| %>
      <%= render 'perimetros/perimetros_form', :f => perimetro %>
    <% end %>
  </div>

  <div class="tab-pane" id="tab-composicao-corporal">
    <%= f.simple_fields_for :composicao_corporal, :composicao_corporal do |composicao_corporal| %>
      <%= render 'composicoes_corporais/composicoes_corporais_form', :f => composicao_corporal %>
    <% end %>
  </div>

  <div class="tab-pane" id="tab-neuromotor">
    <%= f.simple_fields_for :neuromotor, :neuromotor do |neuromotor| %>
      <%= render 'neuromotores/neuromotores_form', :f => neuromotor %>
    <% end %>
  </div>

  <div class="tab-pane" id="tab-avaliacao-cardiorespiratoria">
    <%= f.simple_fields_for :avaliacao_cardiorespiratoria, :avaliacao_cardiorespiratoria do |avaliacao_cardiorespiratoria| %>
      <%= render 'avaliacoes_cardiorespiratorias/avaliacoes_cardiorespiratorias_form', :f => avaliacao_cardiorespiratoria %>
    <% end %>
  </div>
</div>

<div class="btn-group navigation-modal form-confirm pull-right">
  <%= link_to 'Voltar', avaliacao_fisicas_path, :class => 'btn' %>
  <%= f.submit :class => 'btn btn-primary' %>
</div>
<% end %>

<input type='hidden' id='aluno_idade' value='<%= @cliente.idade %>' >
<input type='hidden' id='aluno_sexo' value='<%= @cliente.sexo.nome %>' >