<div id="wrapper-conteudo">
  <div class='page-header'>
    <h1>Avaliações Físicas</h1>
    <h2><i class='icon-book'></i> Listagem</h2>
  </div>

  <% if params['notice'] %>
  <div class="alert alert-success"><%= params['notice'] %></div>
  <% end %>

  <table class="lista-conteudo">
    <thead>
      <th colspan='2'><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Aluno</th>
      <th></th>
    </thead>
    <% @clientes.each do |cliente| %>
    <tbody class='cliente'>
      <tr style='background-color: #FFF;'>
        <td colspan='2'><%= cliente.nome %> <%= link_to raw('<i class="icon-plus"></i>'), new_avaliacao_fisica_path(:clientes_id => cliente.id) %></td>
        <td></td>
      </tr>
    </tbody>
    <tbody class='avaliacao'>
      <% cliente.avaliacao_fisicas.each do |avaliacao_fisica| %>
        <tr>
          <td><input type='checkbox'></td>
          <td><%= link_to avaliacao_fisica.created_at, avaliacao_fisica, :class => 'conteudo-modal' %></td>
          <td class='comando'><%= link_to 'Excluir', avaliacao_fisica, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>

  <br />

  <div id="conteudo-rodape">
  <%= pagination @clientes %>
  </div>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>