<div id="wrapper-conteudo">
  <h1>Listando Avaliações</h1>

  <% if params['notice'] %>
  <div class="alert alert-success"><%= params['notice'] %></div>
  <% end %>

  <% @clientes.each do |cliente| %>
    <h4><%= cliente.nome %> <%= link_to raw('<i class="icon-plus"></i>'), new_avaliacao_fisica_path(:clientes_id => cliente.id) %></h4>
    <table class="lista-conteudo">
      <thead>
        <th><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> Data</th>
        <th></th>
      </thead>

    <% cliente.avaliacao_fisicas.each do |avaliacao_fisica| %>
      <tr>
        <td><%= link_to avaliacao_fisica.created_at, avaliacao_fisica, :class => 'conteudo-modal' %></td>
        <td class='comando'><%= link_to 'Excluir', avaliacao_fisica, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
    </table>
  <% end %>

  <br />

  <div id="conteudo-rodape">
  <%= pagination @clientes %>
  </div>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>