<div class="nested-fields">
  <div class='row-fluid'>
    <%= f.input :repeticoes, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span4' } do %>
        <%= f.text_field :repeticoes, :class => "span12", :placeholder => 'Repetições' %>
    <% end %>

    <%= f.input :cargas, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span4' } do %>
        <%= f.text_field :cargas, :class => "span12", :placeholder => 'Carga' %>
    <% end %>

    <%= f.input :intervalos, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span3' } do %>
        <%= f.text_field :intervalos, :class => "span12", :placeholder => 'Intervalo' %>
    <% end %>

    <div class='span1'>
      <%= link_to_remove_association '-', f, :class => 'btn btn-danger btn-remove btn-block red sem-margem-top' %>
    </div>
  </div>
</div>