<div class="nested-fields">
  <fieldset class='border-bottom'>
    <legend>
      <div class='row-fluid'>
        <div class='span3'>
          <%= f.text_field :nome, :class => "input-block-level", :placeholder => 'Nome da Série' %>
        </div>
        <div class='span1'>
          <%= link_to_remove_association 'Excluir', f, :class => 'btn btn-danger btn-remove btn-block red sem-margem-top' %>
        </div>
      </div>
    </legend>
    <div class='sortable'>
      <div class='row-fluid'>
        <%= f.fields_for :fichas_exercicios do |ficha_exercicio| %>
          <%= render 'fichas_exercicios_form', :f => ficha_exercicio %>
        <% end %>
        <%= link_to_add_association "Novo Exercício Anaeróbico", f, :fichas_exercicios, :partial => 'fichas_exercicios_form', :class => 'btn btn-success span6 green', :render_options => {:locals => { :tipo_exercicio => 1 } } %>
        <%= link_to_add_association "Novo Exercício Aeróbico", f, :fichas_exercicios, :partial => 'fichas_exercicios_form', :class => 'btn btn-success span6 green', :render_options => { :locals => { :tipo_exercicio => 2 } } %>
      </div>
    </div>
  </fieldset>
</div>