<div class="nested-fields">
  <%= field_set_tag "Protocolo" do %>
    <div class="row-fluid">
      <%= f.input :protocolo, :as => :radio_buttons, :collection => ['Pollock', 'McArdle'] , :label => false, :wrapper_html => { :class => 'span12' }, :item_wrapper_class => 'inline' %>
    </div>
  <% end %>

  <div class='row-fluid'>
    <div class='span4'>
      <%= field_set_tag "Medidas" do %>
        <div class="row-fluid">
          <%= f.input :peso_atual, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :peso_atual, 'Peso Atual', :class => "span3" %>
              <%= f.text_field :peso_atual, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.input :altura, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :altura, 'Altura', :class => "span3" %>
              <%= f.text_field :altura, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='span4'>
      <%= field_set_tag "Circunferências" do %>
        <div class="row-fluid">
          <%= f.input :abdome, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :abdome, 'Abdome', :class => "span3" %>
              <%= f.text_field :abdome, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.input :antebraco, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :antebraco, 'Antebraço', :class => "span3" %>
              <%= f.text_field :antebraco, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.input :coxa, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :coxa, 'Coxa', :class => "span3" %>
              <%= f.text_field :coxa, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.input :quadril, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :quadril, 'Quadril', :class => "span3" %>
              <%= f.text_field :quadril, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.input :panturrilha, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :panturrilha, 'Panturrilha', :class => "span3" %>
              <%= f.text_field :panturrilha, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <%= f.input :braco, :wrapper => :prepend, :label => false, :wrapper_html => { :class => 'span12' } do %>
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= f.label :braco, 'Braço', :class => "span3" %>
              <%= f.text_field :braco, :class => "span9" %>
            <% end %>
          <% end %>
        </div>
        <div class="row-fluid">
          <div class="input-prepend row-fluid">
            <%= content_tag :div, :class => 'row-fluid' do %>
              <%= label_tag :soma, 'Soma', :class => "span3" %>
              <%= text_field_tag :soma, '', { :class => 'span9' } %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class='span4'>
      <%= field_set_tag "Resultados" do %>
        <div class='row-fluid'>
          <div class='span12'>
            <div class="row-fluid">
              <div class="input-prepend row-fluid">
                <%= content_tag :div, :class => 'row-fluid' do %>
                  <%= label_tag :gordura_ideal, 'Gordura Ideal', :class => "span3" %>
                  <%= text_field_tag :gordura_ideal, '', { :class => 'span9' } %>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="input-prepend row-fluid">
                <%= content_tag :div, :class => 'row-fluid' do %>
                  <%= label_tag :gordura_atual, 'Gordura Atual', :class => "span3" %>
                  <%= text_field_tag :gordura_atual, '', { :class => 'span9' } %>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="input-prepend row-fluid">
                <%= content_tag :div, :class => 'row-fluid' do %>
                  <%= label_tag :peso_gordo, 'Peso Gordo', :class => "span3" %>
                  <%= text_field_tag :peso_gordo, '', { :class => 'span9' } %>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="input-prepend row-fluid">
                <%= content_tag :div, :class => 'row-fluid' do %>
                  <%= label_tag :peso_magro, 'Peso Magro', :class => "span3" %>
                  <%= text_field_tag :peso_magro, '', { :class => 'span9' } %>
                <% end %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="input-prepend row-fluid">
                <%= content_tag :div, :class => 'row-fluid' do %>
                  <%= label_tag :peso_ideal, 'Peso Ideal', :class => "span3" %>
                  <%= text_field_tag :peso_ideal, '', { :class => 'span9' } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>