<div class="nested-fields">
  <div class="row-fluid">
    <div class='span6'>
      <div class="row-fluid">
        <div class="span12">
          <%= field_set_tag "Perímetros Unilaterais" do %>
          <%= f.simple_fields_for :avaliacao_perimetro, :avaliacao_perimetro do |avaliacao_perimetro| %>
          <div class="row-fluid">
            <%= avaliacao_perimetro.input :valor_1, :as => :string, :label => avaliacao_perimetro.object.nome, :wrapper_html => { :class => 'span12' } if avaliacao_perimetro.object.tipo.to_i == 1 %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='span6'>
      <div class="row-fluid">
        <div class="span12">
          <%= field_set_tag "Perímetros Bilaterais" do %>
          <%= f.simple_fields_for :avaliacao_perimetro, :avaliacao_perimetro do |avaliacao_perimetro| %>
          <div class="row-fluid">
            <%= avaliacao_perimetro.input :valor_1, :as => :string, :label => avaliacao_perimetro.object.nome, :wrapper_html => { :class => 'span6' } if avaliacao_perimetro.object.tipo.to_i == 2 %>
            <%= avaliacao_perimetro.input :valor_2, :as => :string, :label => avaliacao_perimetro.object.nome, :wrapper_html => { :class => 'span6' } if avaliacao_perimetro.object.tipo.to_i == 2 %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>