<%= simple_form_for @exercise, :html => {:class => 'form-vertical'}, :defaults => {:input_html => {:class => 'input-block-level'}} do |f| %>

    <%= field_set_tag 'Dados Básicos' do %>
        <div class="row-fluid">
          <%= f.association :exercise_type, :wrapper_html => {:class => 'span2'}, :include_blank => false %>
          <%= f.input :name, :wrapper_html => {:class => 'span4 js-wrapper_nome'}, :url => autocomplete_exercise_name_exercises_path, :as => :autocomplete, :id_element => '', :update_elements => {} %>
          <%= f.association :muscle_group, :wrapper_html => {:class => 'span3 js-wrapper_grupo_muscular_id'} %>
          <%= f.association :difficulty_exercise, :wrapper_html => {:class => 'span3'} %>
        </div>

        <div class="row-fluid">
          <%= f.input :description, :wrapper_html => {:class => 'span12'}, :input_html => {:rows => 3} %>
        </div>
    <% end %>

    <%= field_set_tag 'Imagens' do %>
        <div class="row-fluid">
          <div>
            <%= f.simple_fields_for :exercise_examples do |exercise_example| %>
                <%= render 'exercises/exercise_example_form', :f => exercise_example %>
            <% end %>

            <div class='clearboth'>
              <%= link_to_add_association "Nova Imagem", f, :exercise_examples, :partial => 'exercises/exercise_example_form', :class => 'btn btn-success btn-block green' %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="btn-group navigation-modal form-confirm pull-right">
      <%= link_to 'Voltar', collection_url, :class => 'btn' %>
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>