<!DOCTYPE html>
<html>
<head>
  <title>Gerenciador</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-inverse sem-margem'>
    <div class='navbar-inner navbar-inverse blue'>
      <a class="brand" href="#"><i class='icon-cloud'></i>  <b>eonGym</b></a>
      <div class="nav-collapse">
        <!-- <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul> -->
        <ul class="nav shang-nav pull-right">
          <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="icon-tasks icon-large"></i>
            </a>
          </li>
          <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="icon-bell-alt icon-large"></i>
            </a>
          </li>
          <li>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="icon-envelope icon-large"></i>
            </a>
          </li>
          <li class="light-blue user-profile">
            <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
              <%= image_tag 'avatars/user.jpg', :class => "nav-user-photo" %>
              <span id="user_info">
                <small>Bem vindo,</small>
                Minoru
              </span>

              <i class="icon-caret-down"></i>
            </a>

            <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
              <li>
                <a href="#">
                  <i class="icon-cog"></i>
                  Configurações
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="icon-user"></i>
                  Perfil
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="#">
                  <i class="icon-off"></i>
                  Sair
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='container-fluid' id='main-container'>
    <div id='menu-lateral'>
      <ul class='nav nav-list'>
        <li <%= html_current_controller?('clientes') %>>
          <a href="#" class="dropdown-toggle">
            <i class="icon-group"></i>
            <span>Cadastros</span>
            <b class="arrow icon-angle-down"></b>
          </a>

          <ul class="submenu" style="display: block;">
            <li>
              <%= link_to clientes_path, :class => current_controller?('clientes') do %>
                Clientes
              <% end %>
            </li>
          </ul>
        </li>

        <li <%= html_current_controller?('postagens') %>>
          <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span>Conteúdos</span>
            <b class="arrow icon-angle-down"></b>
          </a>

          <ul class="submenu" style="display: block;">
            <li>
              <%= link_to postagens_path, :class => current_controller?('postagens') do %>
                Postagens
              <% end %>
            </li>
          </ul>
        </li>

        <li <%= html_current_controller?('avaliacao_fisicas') %>>
          <a href="#" class="dropdown-toggle">
            <i class="icon-archive"></i>
            <span>Serviços</span>
            <b class="arrow icon-angle-down"></b>
          </a>

          <ul class="submenu" style="display: block;">
            <li>
              <%= link_to avaliacao_fisicas_path, :class => current_controller?('avaliacao_fisicas') do %>
                Avaliações Físicas
              <% end %>
            </li>
          </ul>
        </li>

        <li <%= html_current_controller?('usuarios') %>>
          <a href="#" class="dropdown-toggle">
            <i class="icon-cog"></i>
            <span>Sistema</span>
            <b class="arrow icon-angle-down"></b>
          </a>

          <ul class="submenu" style="display: block;">
            <li>
              <%= link_to usuarios_path, :class => current_controller?('usuarios') do %>
                Usuários
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="main-content" class='clearfix'>
    <%= yield %>
    </div>
  </div>
</body>
</html>
